.contacts
{
    font-size: 24px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 40vh;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth
}

.main
{
    font-size: 24px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    width: 90%;
}

.title
{
    font-size: 24px;

    margin: 20px;
    color: lightgreen;
}

.wrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 90%;
}

.form
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 360px;
    /*border: 1px solid;*/
    height: 35px;
    margin: 5px;
    background-color: darkgray;
}
.form:focus{
    color: mediumvioletred;
}
.buttonClick
{
    font-size: 10pt;
  margin: 10px;
    /*width: 80px;*/
    /*height: 30px;*/

    color: purple;
    border-radius: 10px;
    background-color: lightgreen;
    font-weight: 400;
    padding: 8px 30px;
    max-width: 190px;
    z-index: 0
}

.buttonClick:hover:after{
    color: red;
}

.buttonClick:hover{
    transform: scale(1.1, 1.1);
    transition: 1s;
}

@media screen and (max-width: 500px)
{
    .wrapper
    {
        width: 100%;
    }
}

@media screen and (max-width: 500px)
{
    .form
    {
        width: 250px;
        height: 30px;
    }
}
