.contacts {
    font-size: 24px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 40vh;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth
}

.main {
    font-size: 24px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 330px;
    width: 90%;
}

.title {
    font-size: 24px;

    margin: 15px;
    color: lightgreen;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    width: 90%;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    width: 360px;
    border: 1px solid lightcyan;
    height: 43px;
    /*padding: 10px;*/
    border-radius: 10px;
    background-color: white;
}

.form:focus {
    width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px cyan;
    color: black;
}

input textarea {
    width: 360px;
    height: 40px;
    /*margin: 10px;*/
    padding: 5px;
}

.buttonClick {
    font-size: 10pt;
    margin-bottom: 25px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: lightgreen;
    font-weight: 800;
    max-width: 190px;
    z-index: 0;
}


.buttonClick:hover {
    transform: scale(1.1, 1.1);
    transition: 1s;
}

@media screen and (max-width: 500px) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .form {
        width: 250px;
        height: 30px;
    }
}
