.works {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.container {
  /*background-color: rgb(35%, 35%, 35%);*/
  min-height: 80vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: lightgreen;
}

.wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.title {
  font-size: 24px;
  margin: 30px;
  color: lightgreen;

}

.block {
  display: flex;
  flex-direction: column;
  height: 450px;
  background-color: grey;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.image {
  display: flex;
  height: 300px;
  /*min-width: 350px;*/
  justify-content: center;
  align-items: center;
  background-image: url(https://uploads.dev.by/resources/1ab307c0-7633-4f42-90b4-2448e53a9802/optimized/9626f87cb4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 300px;
  transition: 500ms;
}
.image:hover{
  transform: rotate(360deg)
}
.buttonClick
{
  font-size: 10pt;
  margin: 15px;
  width: 80px;
  height: 30px;

  color: purple;
  border-radius: 10px;
  background-color: lightgreen;
}

@media screen and (max-width: 1200px) {
  .container {justify-content: center}
}