.skills {
    /*grid-area: s;*/
    /*grid-gap: 5px;*/
    /*margin: 10px 10% 10px 10%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.container {
    /*background-color: rgb(40%, 40%, 40%);*/
    min-height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /*color: lightgreen;*/
    /*border: 1px solid;*/
}

.skillWrap {
    display: flex;
    /*max-height: 1050px;*/
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.block {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    min-width: 320px;
    font-size: 24px;
    align-items: center;
    margin: 10px;
    justify-content: flex-end;
    color: white;
    /*background-color: lightyellow;*/
}

.icon {
display: flex;
    justify-content: space-between;
    min-height: 300px;
    max-width: 300px;
}

.title {
    font-size: 28px;
    margin: 10px;
    color: lightgreen;
}

@media screen and (max-width: 1200px) {
    .container {justify-content: center}
}