.freelance {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 30vh;
  background-attachment: fixed;
  background-color: black;
}

.container {
  width: 90%;
  /*background-color: rgb(30%, 30%, 30%);*/
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: space-around;
  align-items: center;
  /*margin: 10px;*/
  /*background-color: darkgray;*/
  /*border: 1px solid;*/
  font-size: 16pt;
}

.wrap {
  width: 320px;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid;*/
}

.title {
  font-size: 24px;
  margin: 10px;
  color: lightgreen;
}

.buttonClick
{
  font-size: 9pt;
  margin: 15px;
  width: 74px;
  height: 30px;
  border-radius: 10px;
  background-color: lightgreen;
  font-weight: 800;
  max-width: 190px;
  z-index: 0;

}
a {
  text-decoration: none;
  color: darkviolet;
  /*font-family: "Fira Sans";*/
}
.buttonClick:hover{
  transform: scale(1.1, 1.1);
  transition: 1s;
  text-line-through: none;
}
.buttonClick:hover:after{
  color: red;
}