body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Helvetica Neue", sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  /*font-family: 'Dosis', sans-serif;*/
  /*font-family: 'Girassol', cursive;*/
  font-family: 'Fira Sans', sans-serif !important;
  /*font-family:  "Segoe UI", monospace;*/

}


code {
  font-family: 'Fira Sans', sans-serif;
  /*font-family: 'Baloo Bhaina 2', cursive;*/
}
