.navigation {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    z-index: 1111;
    scroll-behavior: smooth
}

.link {
    color: cyan;
}

.link:active {
    color: blue;
}

.link:after {
    color: red;
}