.navigation {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    z-index: 1111;
    scroll-behavior: smooth
}
.link:link {
    color: yellow;
}

.link:visited {
    color: green;
}
.link {
    color: cyan;
}
.link:hover {
    color: deepskyblue;
        transform: scale(1.1) skew(-14deg);
}
.link:active {
    color: red;
}
