.navigation {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    z-index: 111;
    scroll-behavior: smooth
}

.link {
    color: cyan;
}

/*.link:visited {*/
/*    color: green;*/
/*}*/

.link.active {
     color: red;
 }
.link:hover {
    color:  blue;
        transform: scale(1.1, 1.1);
    transition: 777ms;
}

