.footer
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /*margin:  10px 10px;*/
    max-height: 20vh;
}

.main
{
    font-size: 16px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    height: 100%;

  border-top: 1px solid;
  border-color: rgba(55, 55, 55, 0.78);
  background-color: #000000;
}

.title
{
    font-size: 14px;

    margin: 1%;

    color: white;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

    width: 360px;
    height: 100%;
    /*margin: 10px;*/
}

.icon
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65px;
    height: 65px;
    /*background-color: grey;*/
}

@media screen and (max-width: 500px)
{
    .wrapper
    {
        width: 100%;
    }
}
@media screen and (max-width: 500px)
{
    .icon
    {
        width: 50px;
        height: 50px;
    }
}
